In [1]:
import duckdb
import pandas as pd
from functions import get_latest_data

In [3]:
get_latest_data('2024-04-01')

        DATE  PCPI24M4
0    1947:01      21.5
1    1947:02      21.6
2    1947:03      22.0
3    1947:04      22.0
4    1947:05      22.0
..       ...       ...
932  2024:09       NaN
933  2024:10       NaN
934  2024:11       NaN
935  2024:12       NaN
936  2025:01       NaN

[937 rows x 2 columns]