In [12]:
import pandas as pd
import duckdb

In [13]:
CPI25 = pd.read_csv('PCPI25M2.csv')
CPI25

        DATE    CPI
0    1947:01   21.5
1    1947:02   21.6
2    1947:03   22.0
3    1947:04   22.0
4    1947:05   22.0
..       ...    ...
932  2024:09  314.9
933  2024:10  315.6
934  2024:11  316.4
935  2024:12  317.6
936  2025:01  319.1

[937 rows x 2 columns]

In [21]:
file = 'Fed_CPI2.db'

In [ ]:
#trunc method
def trunc_and_load(con,data):
    # we simply truncate the table and load the new data
    con.sql(("CREATE OR REPLACE TABLE cpi_trunc AS SELECT * FROM data"))
with duckdb.connect(file) as con:
    trunc_and_load(con, CPI25)
    print(con.sql('SELECT * FROM cpi_trunc').fetchdf())

        DATE    CPI
0    1947:01   21.5
1    1947:02   21.6
2    1947:03   22.0
3    1947:04   22.0
4    1947:05   22.0
..       ...    ...
932  2024:09  314.9
933  2024:10  315.6
934  2024:11  316.4
935  2024:12  317.6
936  2025:01  319.1

[937 rows x 2 columns]

In [27]:
#drop mistaken addition to db
with duckdb.connect(file) as con:
    con.sql('DROP TABLE IF EXISTS data_trunc')

In [ ]:
#append method

In [ ]:
#inc method